body {
  background-color: #2980b9;
  font-family: Trebuchet MS, serif;
}

h1,
h2,
h4 {
  color: #fff;
  line-height: 100%;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 86px;
}

h4 {
  font-size: 48px;
}
